@import '../../sass/variables.scss';

.radioCard{
    margin: 20px;
    width: 300px;
    height: 510px;
    background-color: $bgColor;
    border-radius: 25px;
}

.radioHeader{
    @include radioDisplay;
    
    background-color: $headerColor;
    padding: 10px;
    border-radius: 25px 25px 0 0;

    .backBtn,.switchBtn{
        background-color: inherit;
        border: none;
        cursor: pointer;
        
    }
    .backBtn img{
        width: 15px;
    }
    
    .switchBtn img{
        width: 20px;
    }
    
    
}

.title{
    color:$titleColor;
}
.radioBody{
    padding: 0 20px 0 20px;
    height: 70%;
}
.singleStation{
    @include radioDisplay;
    color: $stationColor;
    border-bottom: 1px solid #434343;
    cursor: pointer;

    p{
        font-size: 20px;
        font-weight: 500;
    }
}