@import '../../sass/variables.scss';

.radioCard{
    margin: 20px;
    width: 330px;
    height: 510px;
    background-color: $bgColor;
    border-radius: 25px;
    
  
    
}

.radioHeader{
    @include radioDisplay;
    background-color:$headerColor;
    padding: 5px 10px;
    border-radius: 25px 25px 0 0;

    .backBtn,.switchBtn{
        background-color: inherit;
        border: none;
        cursor: pointer;
        
    }
    .backBtn img{
        width: 15px;
    }
    
    .switchBtn img{
        width: 20px;
    }
    
    
}

.title{
    color:$titleColor;
}
.radioBody{
    padding: 0 20px 0 20px;
    height: 70%;
    overflow-y: hidden;
}
.singleStation{
    @include radioDisplay;
    color: $stationColor;
    border-bottom: 1px solid #43434c;

    p{
        font-size: 20px;
        font-weight: 500;
    }
}

.runningStation{
    margin: 12px 0px 0px 0px;
    color: $stationColor;
    @include radioDisplay;
   
    
    .stationLogo{
        width: 130px;
        height: 130px;
        // border: 2px solid #838a9b;
        border-radius: 50%;
    }

    img{
        width: 30px;
    }
    button{
        background-color: inherit;
        border: none;
        cursor: pointer;
    }
}

.radioFooter{
    text-align: center;
    line-height: 0%;
    .footerTitle{
       
        font-size: 11px;
       
        color: #eeae61;
        font-weight: 500;
    }
    .currentPlaying{
        font-size: 20px;
        font-weight: 500;
        color:$stationColor;
    }
}