@import '../../sass/variables.scss';

.radioCard{
    margin: 20px;
    width: 330px;
    height: 510px;
    background-color: $bgColor;
    border-radius: 25px; 
    overflow: hidden;
    box-shadow: 0px 30px 30px -10px #13131a;
  

    
}

.radioHeader{
    @include radioDisplay;
    background-color:$headerColor;
    padding: 5px 10px;
    border-radius: 25px 25px 0 0;

    .backBtn,.switchBtn{
        background-color: inherit;
        border: none;
        cursor: pointer;
        
    }
    .backBtn img{
        width: 15px;
    }
    
    .switchBtn img{
        width: 20px;
    }
    
    
}

.title{
    color:$titleColor;
}
.radioBody2{
    padding: 0 20px 0 0px;
    width: 100%;
    height: 70%;
    overflow-y: scroll;

}
.singleStation2{
    @include radioDisplay;
    color: $stationColor;
    border-bottom: 1px solid #43434c;
    margin-left: 20px;


    p{
        font-size: 20px;
        font-weight: 500;
    }
}

.runningStation{
    padding: 20px 0px 0 15px;
    color: $stationColor;
    @include radioDisplay;
   
    
    .stationLogo{
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }

    img{
        width: 30px;
    }
    button{
        background-color: inherit;
        border: none;
        cursor: pointer;
    }
}

.radioFooter{
    border-top: 2px solid #434343;
    text-align: center;
    line-height: 0%;
    .footerTitle{
        padding-top: 10px;
        font-size: 11px;
        color: #eeae61;
        font-weight: 700;
    }
    .currentPlaying{
        
        font-size: 20px;
        font-weight: 500;
        color:$stationColor;
    }
}
